[submodule "nvim/pack/plugins/start/nvim-lspconfig"]
	path = nvim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/pack/plugins/start/completion-nvim"]
	path = nvim/pack/plugins/start/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim
[submodule "nvim/pack/plugins/start/diagnostic-nvim"]
	path = nvim/pack/plugins/start/diagnostic-nvim
	url = https://github.com/nvim-lua/diagnostic-nvim
[submodule "nvim/pack/plugins/start/nlua.nvim"]
	path = nvim/pack/plugins/start/nlua.nvim
	url = https://github.com/tjdevries/nlua.nvim
[submodule "nvim/pack/plugins/start/fff.vim"]
	path = nvim/pack/plugins/start/fff.vim
	url = https://github.com/dylanaraps/fff.vim
[submodule "nvim/pack/plugins/start/limelight.vim"]
	path = nvim/pack/plugins/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule "nvim/pack/plugins/start/minimap.vim"]
	path = nvim/pack/plugins/start/minimap.vim
	url = https://github.com/wfxr/minimap.vim
[submodule "nvim/pack/plugins/start/formatter.nvim"]
	path = nvim/pack/plugins/start/formatter.nvim
	url = https://github.com/mhartington/formatter.nvim
[submodule "nvim/pack/plugins/start/nvim-treesitter"]
	path = nvim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/pack/plugins/start/nvim-commenter"]
	path = nvim/pack/plugins/start/nvim-commenter
	url = https://github.com/noahares/nvim-commenter
